<%- include("partials/header.ejs") %>

<h1>Leone's Scott</h1>
<img class="profile" src="images/photo.jpeg" alt="Scoot profile">
<p>
  Leane's Scott is a Special Intelligence US Marine with an incredible background. Originally born in Italy, he moved to the United States at a young age and spent most
  of his life with his family in Key West, Florida. After graduating with distinction from the Florida Military Institute, 
  he was commissioned in 2006 and embarked on an extraordinary journey</p>

  <%- include("partials/footer.ejs") %>