<%- include("partials/header.ejs") %>
<h1>Leone's Scott Biograhphy</h1>

<p>During his service,Special agent Scott completed various assignments, including deployments to Southwest Asia and locations in the Pacific.
  His dedication and expertise led him to serve in different roles, such as a Series Special Agent, Private  Contracts, and Regimental S-3A.
  From there, he continued to excel, becoming a Major intelligence First Lieutenant (1stLt) Officer at Recruiting Station Lansing.</p>. 
  <br>
  <p>During his service,Special agent Scott completed various assignments, including deployments to Southwest Asia and locations in the Pacific.
    His dedication and expertise led him to serve in different roles, such as a Series Special Agent, Private  Contracts, and Regimental S-3A. 
    From there, he continued to excel, becoming a Major intelligence First Lieutenant (1stLt) Officer at Recruiting Station Lansing.</p>
    <br>
    <p>Scott thirst for knowledge and growth never waned. He attended the Naval Command and Staff College in Rhode Island, followed by the School of Advanced Warfighting in Virginia. In 2017, 
      he joined the III Marine Expeditionary Force in Okinawa, Japan, where he served as the Operational Planning Team Branch Special Agent for G-3, Future Operations.
       Notably, Scott even deployed to Iraq as a Plans Team Leader for the Multi-National Force.
      The missions and deployments Scott has undertaken throughout his career have been nothing short of exceptional. As a contractor, he puts his extensive skills to use and is duly compensated for his invaluable contributions.
      I wanted to share this story with you not only to highlight Scott's achievements but also to remind you of the incredible individuals who dedicate their lives to protecting our freedoms. Let's take a moment to appreciate their unwavering dedication and sacrifices.</p>
      </p>
  
  
      <%- include("partials/footer.ejs") %>
</p>